*{
    background: #E6EBF1; 
    padding: 1%;
}


#shedule__ctr{
    display: grid;
	place-items: center
}

.teal{
    width:31.25rem;
    padding: 4%;
    font-family: 'poppin', sans-serif;
    margin: 10px 0;
    border-radius:7px;
    box-sizing:border-box;
    border: 1px solid #DDDDDD;
    padding-left:5%;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    background: #FFFFFF;
    font-size:1.1em;

}



select{
    width:31.25rem;
    padding: 4%;
    font-family: 'poppin', sans-serif;
    margin: 10px 0;
    border-radius:7px;
    box-sizing:border-box;
    border: 1px solid #DDDDDD;

    padding-left:5%;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    background: #FFFFFF; 
    font-size:1.1em;
    /* color: #414042; */
}



label{
    font-size: 1.1em;
    font-family:'poppin', sans-serif;
}



h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    letter-spacing: 0.02em;
    display:flex;
    align-items: center;
    color: #414042;
    padding-left: 17%;
    margin: auto;
}



h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 0.02em;
    display: flex;
    color: #007DC1;
    padding: 0%;

}


p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 21px;
    padding-top:0;
    display: flex;
    color: #414042;
}


#checkbox{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    display: flex;
}


input[type="checkbox"] {
    zoom: 1.5;
}


button{
    width:31.25rem;
    padding: 5%;
    font-family: 'poppin', sans-serif;
    margin: 10px 0;
    border-radius:7px;
    box-sizing:border-box;
    border: 1px solid #DDDDDD;
    font-style: normal;
    font-weight: 500;
    background:#007DC1;
    font-size:1.2em;
    color: #DDDDDD;
    
}